{% extends 'components/layout.html' %}


{% block title %}
    Signup - Fruitables
{% endblock %}

{% block content %}

{% include 'components/header.html' %}

<div class="container-fluid py-5" style="margin-top: 100px;">
    <div class="container">
        <h1 class="text-center mb-4">Create an Account</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="name" name="full_name" required>
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email Address</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password1" required>
                            </div>
                            <div class="mb-3">
                                <label for="password2" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="password" name="password2" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Register</button>
                        </form>
                        
                        
                        {% if errors %}
                            {% for error in errors %}
                                <p>
                                    {{error}}
                                </p>
                            {% endfor %}
                        {% endif %}
                            
                            
                        <p class="mt-3 text-center">
                            Already have an account? <a href="{% url 'login' %}">Login here</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'components/footer.html' %}

{% endblock %}