{% extends 'components/layout.html' %}


{% block title %}
    Testimonials - Fruitables
{% endblock %}

{% block content %}

{% include 'components/header.html' %}


{% if testimonies %}

<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Testimonial</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active text-white">Testimonial</li>
    </ol>
</div>

{% include 'components/testimony_box.html' %}

{% else %}

<div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
 
{% endif %}
    
{% include 'components/footer.html' %}

{% endblock %}