<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-3">
                <h1 class="text-primary mb-0">Fruitables</h1>
                <p class="text-secondary mb-0">Fresh products</p>
            </div>
            <div class="col-lg-3">
                <h4 class="text-light mb-3">Contact</h4>
                <p>Address: 123 Street, New York</p>
                <p>Email: {{request.user.email}}</p>
                <p>Phone: +0123 4567 8910</p>
            </div>
        </div>
    </div>
</div>