{% extends 'components/layout.html' %}

{% block title %}
    Products - Fruitables
{% endblock %}

{% block content %}

{% include 'components/admin/navbar.html' %}

<div class="container-fluid py-5 mt-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for product in products %}
                                
                            <tr>
                                <td>{{product.name}}</td>
                                <td>{{product.category}}</td>
                                <td>${{product.price}}</td>
                                <td>
                                    <a href="{% url 'edit_product' product.id %}" class="btn btn-warning btn-sm">Edit</a>
                                    <form action="{% url 'delete_product' product.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm">
                                            Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>

                            {% endfor %}
                                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% include 'components/admin/footer.html' %}

{% endblock %}